body{
    background-color: brown;
}

h1{
    background-color: bisque;
    font-size: large;
    font-weight: 700;
}

p{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border: 5px solid green;
    /* padding: 2px; */
    margin: 5px;
}