/* .blue{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.red{
  width: 100px;
  height: 100px;
  background-color: red;
}

.yellow{
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.green{
  width: 100px;
  height: 100px;
  background-color: green;
} */

.blue{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.red{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  right: 30px;
  bottom: 30px;
}

.yellow{
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  right: 10px;
}

.green{
  width: 100px;
  height: 100px;
  background-color: green;
  position: fixed;
}
